// Main Sass File
$black:#121216;
$white: #FFFFFF;
$Grey:#9E9E9E;
$Orange:#F3BE4D;
$Blue:#3F8AF7; 


.card {
 background-color:$black;
	
	.fa{
		color:$white;
	}

	color:$white;
}



/*
.card-img-top{
	height:470px;
	width:398px;
}

*/